@charset "utf-8";
.medidas{
	width: 100vw;
	height: 200vh;
}
.container{
	position: relative;
	width: 95vw;
	height: 195vh;
	background:linear-gradient(red,yellow);
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	border:solid 5px;

}

.content{
	position: relative;
	width: 50vw;
	height: 195vh;
	background-color:rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}
.titulo{
 	text-align: center;
 	font-family:arial;
 	font-size: 2.5vw;
 	background-color:rgba(0,0,0,0.4);
 	color: #fff;
 	border-style:solid;
 	border-width: 5px;
 	border-radius: 20%;
 	width: 20vw;
 	height: 5.5vh;
 	margin:auto;
  	text-shadow: 2px 2px 2px black;
}
.imagenes{
	width: 20vw;
	padding-left: 12px;
	padding-top: 8px;

}
.portaretrato{
	width: 22vw;
	height: 40vh;
	background-color: #FFF;
	position: relative;
	margin-bottom: 1vh;
	margin-top: 1vh;
	left: 35vh;
	box-shadow: 5px 5px 5px black;
	
}

@media screen and (max-width: 500px){
	


.container{
	position: relative;
	width:90vw;
	height: 200vh;
	background:linear-gradient(red,yellow);
	border:solid 5px;

}

.portaretrato{
	position: relative;
	left: 0;
	width: 70vw;
	height: 30vh;
	background-color: #FFF;
	box-shadow: 5px 5px 5px black;
	margin: auto;

	
}
.content{
	position: relative;
	width: 72.81vw;
	height: 140vh;
	background-color:rgba(0,0,0,0.3);}
	
.imagenes{
	width:65vw ;
	
	padding-left: 10px;
	padding-top: 10px;	

}
.titulo{
 	font-size: 5vw;
}
}
